@keyframes swing {
	0% {
		transform: rotate(-0.4deg);
	}

	100% {
		transform: rotate(1deg);
	}
}

.swing-class {
	animation: swing 3.6s ease-in-out infinite alternate-reverse;
	animation-delay: 0.5s;
}

@keyframes slideFromLeft {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes slideFromRight {
	0% {
		transform: translateX(100%);
	}

	100% {
		transform: translateX(0);
	}
}

.slideFromLeft {
	animation: slideFromLeft 1.5s ease-in-out;
	animation-delay: 0.3s;
}

.slideFromRight {
	animation: slideFromRight 1.5s ease-in-out forwards;
	animation-delay: 0.3s;
}

/* Horizontal Shake */
.shake-horizontal {
	animation: shake-horizontal 0.5s;
}

@keyframes shake-horizontal {
	0%,
	100% {
		transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translateX(-7px);
	}
	20%,
	40%,
	60%,
	80% {
		transform: translateX(7px);
	}
}
