@use "../sass/variables" as *;
@use "../sass/mixins" as *;

.about {
	background-color: $tertiary-color-alt;
	min-height: 50dvh;
	padding-top: 2em;
	position: relative;
	margin-top: 1em;

	h2 {
		text-align: center;
		padding: 1.5rem;
		font-size: 73px;
		max-width: 356px;
		margin: auto;
		line-height: 1;
	}

	.divider {
		position: absolute;
		inset: 0;
		width: 110%;
		top: -10%;
	}
}
