@use "../sass/variables" as *;
@use "../sass/mixins" as *;

.about {
	background-color: $tertiary-color;
	min-height: 50dvh;

	h2 {
		text-align: center;
		padding: 1.5rem;
		font-size: 73px;
		max-width: 356px;
		margin: auto;
		line-height: 1;
	}
}
