@use "../sass/variables" as *;
@use "../sass/mixins" as *;

.contact {
	padding: 2em 0;
	background-color: #0c1a39;
	position: relative;
	z-index: 5;

	@include mobile-large {
		display: flex;
		gap: 1em;
	}

	form {
		padding: 25px 20px;
		h2 {
			font-size: 47px;
		}
		background-color: white;
		color: #0c1a39;
	}

	.contact-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding: 1em;

		input {
			width: 100%;
			padding: 1em;
			margin: 1em 0;
			border-top: transparent;
			border-left: transparent;
			border-right: transparent;
			background-color: transparent;
			color: #0c1a39;
		}

		textarea {
			width: 100%;
			padding: 1em;
			margin: 1em 0;
			border-top: transparent;
			border-left: transparent;
			border-right: transparent;
			background-color: transparent;
			color: #0c1a39;
		}

		button {
			width: 100%;
			padding: 1em;
			margin: 1em 0;
			border-top: transparent;
			border-left: transparent;
			border-right: transparent;
			background-color: #0c1a39;
			color: white;
		}

		span {
			color: rgb(156, 1, 1);
			font-weight: bold;
		}
	}

	.contact-info {
		padding: 25px 20px;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			width: 97px;
			height: calc(100% + 32px);
			top: 0;
			right: 0;
			background-color: #414068;
			z-index: -1;
		}

		h2 {
			color: white;
			font-size: 47px;
		}

		ul,
		li {
			list-style: none;
		}

		li {
			padding: 1em 0;
			display: flex;
			align-items: center;
			gap: 0.5em;
		}
	}
}
