@use "../sass/variables" as *;
@use "../sass/mixins" as *;

.scene {
	background-color: $primary-color-alt;
	height: 100dvh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	max-width: 1440px;
	margin: auto;

	.bg {
		position: absolute;
		z-index: 0;
		width: 105%;
		bottom: calc(1px + 18dvw);
		left: -3%;
		transform-style: preserve-3d;
		filter: blur(1px);

		@include mobile-small {
			bottom: calc(1px + 18dvw);
		}

		@include mobile-medium {
			bottom: calc(1px + 18dvw);
		}

		@include mobile-large {
			bottom: calc(1px + 18dvw);
			left: -1%;
			width: 110%;
		}

		@include mobile-large-plus {
			bottom: calc(1px + 18dvw);
		}
	}

	.title {
		position: absolute;
		z-index: 0;
		top: calc(42% - 60px);
		left: 20%;
		transform-style: preserve-3d;
		text-shadow: 1px 1px 1px #000;
		font-size: 52px;
		line-height: 1;
	}

	.lead {
		position: absolute;
		top: calc(60% - 60px);
		text-shadow: 1px 1px 1px #000;
		left: 18%;
		transform-style: preserve-3d;
		z-index: 0;
		font-size: 1.2em;
		padding: 1em;
		max-width: 340px;
		margin: auto;
		width: 100%;
	}

	.moon {
		width: max(90px, 12vw);
		height: max(90px, 12vw);
		background-color: #fff;
		border-radius: 50%;
		position: absolute;
		top: 16%;
		right: 5%;
		z-index: 0;
		transform-style: preserve-3d;
		filter: blur(1px);

		@include mobile-small {
			top: 24%;
			right: 7%;
		}

		@include mobile-medium {
			top: 20%;
			right: 10%;
		}

		@include mobile-large {
			width: max(120px, 12vw);
			height: max(120px, 12vw);
			top: 15%;
			right: 10%;
		}
	}

	.moonLight {
		width: max(190px, 12vw);
		height: max(190px, 12vw);
		background-color: #ffffff66;
		border-radius: 50%;
		position: absolute;
		top: 3%;
		right: -5%;
		z-index: 0;
		transform-style: preserve-3d;
		filter: blur(42px);

		@include mobile-small {
			top: 6%;
			right: -2%;
		}
		@include mobile-medium {
			top: 2%;
			right: 0;
		}

		@include mobile-large {
			width: max(240px, 12vw);
			height: max(240px, 12vw);
			top: 5%;
			right: 5%;
		}
	}

	.lake {
		position: absolute;
		width: 110%;
		bottom: calc(1px - 10dvw);
		transform-style: preserve-3d;
		left: -2%;
		right: 0;

		@include mobile-small {
			bottom: calc(1px - 10dvw);
		}

		@include mobile-medium {
			bottom: calc(1px - 10dvw);
			left: -2%;
		}

		@include mobile-large {
			bottom: calc(1px - 10dvw);
			left: -2%;
		}

		@include mobile-large-plus {
			bottom: calc(1px - 10dvw);
			left: -4%;
		}
	}

	.house {
		position: absolute;
		top: calc(75% - 60px);
		left: -28%;
		z-index: 1;
		transform-style: preserve-3d;
		max-width: 240px;

		@include mobile-small {
			left: -10%;
			top: calc(58% - 60px);
			max-width: 250px;
		}

		@include mobile-medium {
			left: 1dvw;
			top: calc(58% - 60px);
			max-width: 320px;
		}

		@include mobile-large {
			left: 1dvw;
			top: calc(55% - 60px);
			max-width: 400px;
		}

		@include mobile-large-plus {
			left: 8dvw;
			top: calc(44% - 60px);
			width: 40%;
		}
	}

	.nearMountainsLeft {
		position: absolute;
		left: 0;
		bottom: calc(1px - 60px);
		z-index: 1;
		transform-style: preserve-3d;
		filter: blur(2px);

		@include mobile-small {
			top: calc(54% - 60px);
			width: 110%;
		}

		@include mobile-medium {
			top: calc(39% - 60px);
			width: 110%;
		}

		@include mobile-large {
			top: calc(32% - 80px);
			width: 110%;
		}
	}

	.nearMountainsRight {
		position: absolute;
		bottom: calc(1px - 60px);
		right: 0;
		z-index: 1;
		transform-style: preserve-3d;
		filter: blur(2px);
	}

	.tree {
		position: absolute;
		top: calc(10% - 110px);
		z-index: 1;
		left: calc(10% - 110px);
		transform-style: preserve-3d;
		filter: blur(3px);

		@include mobile-small {
			top: calc(16% - 90px);
		}

		@include mobile-medium {
			top: calc(14% - 80px);
			left: calc(0% - 90px);
			width: 114%;
		}

		@include mobile-large {
			top: calc(7% - 80px);
			left: calc(0% - 90px);
			width: 114%;
		}

		@include mobile-large-plus {
			top: calc(-3% - 80px);
			left: calc(0% - 169px);
			width: 114%;
		}
	}
}
