@use "../sass/variables" as *;
@use "../sass/mixins" as *;

.scene {
	background-color: $primary-color-alt;
	height: 100dvh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	max-width: 1440px;
	margin: auto;

	&::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		inset: 0;
		background: #414068;
		background: radial-gradient(
			circle,
			rgba(65, 64, 104, 0) 70%,
			rgba(65, 64, 104, 0.521) 100%
		);
		z-index: 1;
		mix-blend-mode: multiply;
	}

	.bg {
		position: absolute;
		z-index: 0;
		width: 105%;
		bottom: calc(1px + 18dvw);
		left: -3%;
		transform-style: preserve-3d;
		filter: blur(1px);

		@include mobile-small {
			bottom: calc(1px + 18dvw);
		}

		@include mobile-medium {
			bottom: calc(1px + 18dvw);
		}

		@include mobile-large {
			bottom: calc(1px + 18dvw);
			left: -1%;
			width: 110%;
		}

		@include mobile-large-plus {
			bottom: calc(1px + 18dvw);
		}
	}

	.title {
		position: absolute;
		z-index: 0;
		top: calc(42% - 60px);
		right: 0.5em;
		text-align: end;
		transform-style: preserve-3d;
		text-shadow: 1px 1px 1px #000;
		font-size: 56px;
		line-height: 1;

		@include mobile-large-plus {
			top: calc(44% - 60px);
			right: 0;
			font-size: 62px;
			background-color: #0000001c;
			backdrop-filter: blur(5px);
		}
	}

	.lead {
		position: absolute;
		top: calc(58% - 60px);
		text-shadow: 1px 1px 1px #000;
		left: 2%;
		transform-style: preserve-3d;
		z-index: 0;
		font-size: 1.4em;
		padding: 1em;
		max-width: 420px;
		margin: auto;
		width: 100%;

		@include mobile-medium {
			top: calc(52% - 60px);
			left: 11%;
			max-width: 620px;
		}

		@include mobile-large-plus {
			right: 0;
			top: calc(53% - 60px);
			left: unset;
			text-align: end;
			background-color: #0000001c;
			backdrop-filter: blur(5px);
			width: fit-content;
		}
	}

	.moon {
		width: max(99px, 13vw);
		height: max(99px, 13vw);
		background-color: #fff;
		border-radius: 50%;
		position: absolute;
		top: 16%;
		right: 5%;
		z-index: 0;
		transform-style: preserve-3d;
		filter: blur(1px);

		@include mobile-small {
			right: 7%;
		}

		@include mobile-medium {
			top: 20%;
			right: 10%;
		}

		@include mobile-large {
			width: max(120px, 12vw);
			height: max(120px, 12vw);
			top: 15%;
			right: 10%;
		}
	}

	.moonLight {
		width: max(190px, 12vw);
		height: max(190px, 12vw);
		background-color: #ffffff66;
		border-radius: 50%;
		position: absolute;
		top: 8%;
		right: 0%;
		z-index: 0;
		transform-style: preserve-3d;
		filter: blur(42px);

		@include mobile-small {
			top: 6%;
			right: -2%;
		}
		@include mobile-medium {
			top: 12%;
			right: 3%;
		}

		@include mobile-large {
			width: max(240px, 12vw);
			height: max(240px, 12vw);
			top: 5%;
			right: 5%;
		}
	}

	.lake {
		position: absolute;
		width: 110%;
		bottom: calc(1px - 10dvw);
		transform-style: preserve-3d;
		left: -2%;
		right: 0;

		@include mobile-small {
			bottom: calc(1px - 10dvw);
		}

		@include mobile-medium {
			bottom: calc(1px - 10dvw);
			left: -2%;
		}

		@include mobile-large {
			bottom: calc(1px - 10dvw);
			left: -2%;
		}

		@include mobile-large-plus {
			bottom: calc(1px - 10dvw);
			left: -4%;
		}
	}

	.house {
		position: absolute;
		bottom: calc(10% - 60px);
		left: -28%;
		z-index: 1;
		transform-style: preserve-3d;
		max-width: 280px;

		@include mobile-small {
			left: -10%;
			bottom: calc(8% - 60px);
			max-width: 320px;
			width: 80%;
		}

		@include mobile-medium {
			bottom: calc(10% - 60px);
			left: 5%;
		}

		@include mobile-large {
			left: 5%;
			max-width: 400px;
		}

		@include mobile-large-plus {
			left: 8dvw;
			bottom: calc(15% - 60px);
			width: 50%;
			max-width: 520px;
		}
	}

	.nearMountainsLeft {
		position: absolute;
		bottom: calc(1px - 10%);
		left: calc(1px - 5%);
		z-index: 1;
		transform-style: preserve-3d;
		filter: blur(2px);

		// @include mobile-small {
		// 	bottom: calc(1px - 10%);
		// }

		@include mobile-medium {
			bottom: calc(1px - 10%);
		}

		@include mobile-large {
			bottom: calc(1px - 10%);
		}
	}

	.nearMountainsRight {
		position: absolute;
		bottom: calc(1px - 10%);
		right: calc(1px - 5%);
		z-index: 1;
		transform-style: preserve-3d;
		filter: blur(2px);
		width: 110px;

		@include mobile-medium {
			right: calc(10px - 1%);
		}
	}

	.tree {
		position: absolute;
		top: calc(10% - 110px);
		z-index: 1;
		left: calc(0px - 23%);
		transform-style: preserve-3d;
		filter: blur(3px);
		transform-origin: left bottom;

		@include mobile-small {
			top: calc(2% - 90px);
		}

		@include mobile-medium {
			left: calc(0px - 14%);
			width: 114%;
		}

		@include mobile-large {
			left: calc(0% - 90px);
		}

		@include mobile-large-plus {
			left: calc(0% - 130px);
			max-width: 1050px;
		}
	}
}
