$primary-color: #9fb9b5;
$secondary-color: #eed6cf;

.scene {
	background-color: $primary-color;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;

	.bg {
		position: absolute;
		z-index: 0;
		width: 100%;
		top: calc(33% - 60px);
		left: 0; // Add this
		transform-style: preserve-3d;
	}

	.moon {
		width: max(90px, 12vw);
		height: max(90px, 12vw);
		background-color: #fff;
		border-radius: 50%;
		position: absolute;
		top: 13%;
		right: 3%;
		z-index: 0;
		transform-style: preserve-3d;
	}

	.lake {
		position: absolute;
		width: 100%;
		top: calc(50% - 60px);
		transform-style: preserve-3d;
		left: 0;
	}

	.islands {
		position: absolute;
		top: calc(50% - 60px);
		z-index: 1;
		transform-style: preserve-3d;
	}

	.house {
		position: absolute;
		top: calc(30% - 60px);
		left: -51px;
		z-index: 1;
		transform-style: preserve-3d;
	}

	.mountains {
		position: absolute;
		width: 100%;
		top: calc(50% - 60px);
		z-index: 1;
		transform-style: preserve-3d;
	}

	.nearMountains {
		position: absolute;
		top: calc(27% - 60px);
		z-index: 1;
		width: 106%;
		transform-style: preserve-3d;
	}

	.tree {
		position: absolute;
		top: -55px;
		z-index: 1;
		left: -68px;
		transform-style: preserve-3d;
	}
}
