@use "./sass/variables" as *;
@use "./sass/mixins" as *;

.scene {
	background-color: $primary-color-alt;
	min-height: 60vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	max-width: 1200px;
	margin: auto;

	@include mobile-small {
		min-height: 70vh;
	}

	@include mobile-medium {
		min-height: 80vh;
	}

	@include mobile-large {
		min-height: 85vh;
	}

	@include mobile-large-plus {
		min-height: 95vh;
	}

	.bg {
		position: absolute;
		z-index: 0;
		width: 105%;
		top: calc(65% - 60px);
		left: -3%;
		transform-style: preserve-3d;
		filter: blur(1px);

		@include mobile-small {
			top: calc(52% - 60px);
		}

		@include mobile-medium {
			top: calc(36% - 60px);
		}

		@include mobile-large {
			top: calc(20% - 60px);
			left: -1%;
			width: 110%;
		}

		@include mobile-large-plus {
			top: calc(17% - 60px);
		}
	}

	.moon {
		width: max(90px, 12vw);
		height: max(90px, 12vw);
		background-color: #fff;
		border-radius: 50%;
		position: absolute;
		top: 16%;
		right: 5%;
		z-index: 0;
		transform-style: preserve-3d;
		filter: blur(1px);

		@include mobile-small {
			top: 24%;
			right: 7%;
		}

		@include mobile-medium {
			top: 20%;
			right: 10%;
		}
	}

	.moonLight {
		width: max(190px, 12vw);
		height: max(190px, 12vw);
		background-color: #ffffff66;
		border-radius: 50%;
		position: absolute;
		top: 3%;
		right: -5%;
		z-index: 0;
		transform-style: preserve-3d;
		filter: blur(42px);

		@include mobile-small {
			top: 4%;
			right: -2%;
		}
		@include mobile-medium {
			top: 2%;
			right: 0;
		}
	}

	.lake {
		position: absolute;
		width: 110%;
		top: calc(91% - 60px);
		transform-style: preserve-3d;
		left: 0;
		right: 0;

		@include mobile-small {
			top: calc(83% - 60px);
		}

		@include mobile-medium {
			top: calc(75% - 60px);
			left: -2%;
		}

		@include mobile-large {
			top: calc(67% - 60px);
			left: -2%;
		}

		@include mobile-large-plus {
			top: calc(55% - 60px);
			left: -4%;
		}
	}

	.house {
		position: absolute;
		top: calc(56% - 60px);
		left: -10%;
		z-index: 1;
		transform-style: preserve-3d;
		max-width: 220px;

		@include mobile-small {
			left: 1dvw;
			top: calc(50% - 60px);
			max-width: 250px;
		}
	}

	.nearMountains {
		position: absolute;
		top: calc(63% - 60px);
		z-index: 1;
		width: 106%;
		transform-style: preserve-3d;
		filter: blur(2px);

		@include mobile-small {
			top: calc(48% - 100px);
			width: 110%;
		}

		@include mobile-medium {
			top: calc(30% - 60px);
			width: 110%;
		}

		@include mobile-large {
			top: calc(10% - 110px);
			width: 110%;
		}
	}

	.tree {
		position: absolute;
		top: calc(10% - 110px);
		z-index: 1;
		left: calc(10% - 110px);
		transform-style: preserve-3d;
		filter: blur(3px);

		@include mobile-small {
			top: calc(14% - 110px);
		}
	}
}
